.heading {
    width: 100%;
    top: 0px;
    font-size: 40px;
    font-family: 'Yatra One';
}

p {
    color: rgb(20, 72, 216);
    font-size: small;
    font-size: 'Comic Neue';
}

.copy_right_footer{
    position: fixed;
    color: white;
    bottom: 0px;
    width: 100%;
    background-color: rgb(90, 109, 90);
    line-height: 3;
    text-align: center;
    font-size: 18px;
    font-family: 'Indie Flower', cursive;
}

canvas {
    box-shadow: lightgreen 5px 5px 5px  ;
}